:root {
  --header-height: 3rem;
  --side-width-close: 2rem;
  --side-width-open: 11rem;

  /*===== Colors =====*/
  --color-dark: #1B1A19;
  --color-bg: #323130;
  --color-contrast: #F7894A;
  --color-text: #FFFFFF;

  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/* ===== Scrollbar ===== */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-detail);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--color-detail);
}

/* ===== Estilo Geral ===== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
}